@define-color borders_breeze #4c525c;
@define-color content_view_bg_breeze #1a2028;
@define-color error_color_backdrop_breeze #4b8bd4;
@define-color error_color_breeze #4b8bd4;
@define-color error_color_insensitive_backdrop_breeze #294260;
@define-color error_color_insensitive_breeze #294260;
@define-color insensitive_base_color_breeze #191f26;
@define-color insensitive_base_fg_color_breeze #575d65;
@define-color insensitive_bg_color_breeze #1e232d;
@define-color insensitive_borders_breeze #2d323c;
@define-color insensitive_fg_color_breeze #5a6069;
@define-color insensitive_selected_bg_color_breeze #1e232d;
@define-color insensitive_selected_fg_color_breeze #5a6069;
@define-color insensitive_unfocused_bg_color_breeze #1e232d;
@define-color insensitive_unfocused_fg_color_breeze #5a6069;
@define-color insensitive_unfocused_selected_bg_color_breeze #1e232d;
@define-color insensitive_unfocused_selected_fg_color_breeze #5a6069;
@define-color link_color_breeze #3b6ca7;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #00aa7f;
@define-color success_color_breeze #00aa7f;
@define-color success_color_insensitive_backdrop_breeze #104d43;
@define-color success_color_insensitive_breeze #104d43;
@define-color theme_base_color_breeze #1a2028;
@define-color theme_bg_color_breeze #1f252f;
@define-color theme_button_background_backdrop_breeze #1f252f;
@define-color theme_button_background_backdrop_insensitive_breeze #1e232d;
@define-color theme_button_background_insensitive_breeze #1e232d;
@define-color theme_button_background_normal_breeze #1f252f;
@define-color theme_button_decoration_focus_backdrop_breeze #345e91;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #25364d;
@define-color theme_button_decoration_focus_breeze #345e91;
@define-color theme_button_decoration_focus_insensitive_breeze #25364d;
@define-color theme_button_decoration_hover_backdrop_breeze #2c537e;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #223347;
@define-color theme_button_decoration_hover_breeze #2c537e;
@define-color theme_button_decoration_hover_insensitive_breeze #223347;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5a6069;
@define-color theme_button_foreground_active_breeze #fefefe;
@define-color theme_button_foreground_active_insensitive_breeze #5a6069;
@define-color theme_button_foreground_backdrop_breeze #c3c7d1;
@define-color theme_button_foreground_backdrop_insensitive_breeze #545963;
@define-color theme_button_foreground_insensitive_breeze #545963;
@define-color theme_button_foreground_normal_breeze #c3c7d1;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #2c537e;
@define-color theme_selected_bg_color_breeze #335c8f;
@define-color theme_selected_fg_color_breeze #fefefe;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #1f252f;
@define-color theme_titlebar_background_breeze #1f252f;
@define-color theme_titlebar_background_light_breeze #1f252f;
@define-color theme_titlebar_foreground_backdrop_breeze #a6acba;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #a6acba;
@define-color theme_titlebar_foreground_insensitive_breeze #a6acba;
@define-color theme_unfocused_base_color_breeze #1a2028;
@define-color theme_unfocused_bg_color_breeze #1f252f;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #1f334d;
@define-color theme_unfocused_selected_bg_color_breeze #1f334d;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #191f26;
@define-color theme_unfocused_view_text_color_breeze #575d65;
@define-color theme_view_active_decoration_color_breeze #2c537e;
@define-color theme_view_hover_decoration_color_breeze #2c537e;
@define-color tooltip_background_breeze #1f252f;
@define-color tooltip_border_breeze #4c525c;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #4c525c;
@define-color unfocused_insensitive_borders_breeze #2d323c;
@define-color warning_color_backdrop_breeze #007cba;
@define-color warning_color_breeze #007cba;
@define-color warning_color_insensitive_backdrop_breeze #103d57;
@define-color warning_color_insensitive_breeze #103d57;
