[Desktop Entry]
Name=Vortex-Plasma
Comment=Vortex Plasma Theme
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4ki987@gmail.com
X-KDE-PluginInfo-Name=Vortex-Plasma
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true
